body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

nav title {
  font-size: 24px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 20px;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
  margin: 0;
}

li {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}
