.student {
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.student h2 {
  font-size: 18px;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
}

.student p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.student h3 {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

ul {
  padding-left: 20px;
  margin: 0;
}

li {
  font-size: 12px;
  color: #777;
  margin-bottom: 5px;
}
